.playlistContainer {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 6px;
    font-weight: 700;
    padding: 0 0 16px 0;
}

.playlistContainer span {
    margin: 16px;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;

}









.playlistItem {
    display: grid;
    grid-template-columns: auto repeat(3, 1fr) auto;
    padding: 10px 16px;
    grid-gap: 16px;
    margin-bottom: 16px;

    /* set height of auto added rows (all of them) */
    grid-auto-rows: 56px;
    border-radius: 6px;
    justify-content: space-between;
    border: 1px solid transparent;
    font-weight: 400;
}

.playlistItem:hover {
    color: var(--spotifyGreen);
}


#buttonContainer {
    display: flex;
    justify-content: center;  /* Centers text horizontally */
    align-items: center;      /* Centers text vertically */
}

.playlistItem button {
    align-self: center;
}



