

.resultItem {
    display: grid;
    grid-template-columns: auto repeat(3, 1fr) auto;
    padding: 10px 16px;
    grid-gap: 16px;
    margin-bottom: 16px;

    /* set height of auto added rows (all of them) */
    grid-auto-rows: 56px;
    border-radius: 6px;
    justify-content: space-between;
    border: 1px solid transparent;
    font-weight: 400;
}

.resultItem:hover {
    color: var(--spotifyGreen);
}

.addButton {
    align-self: center;
}