.searchButton {
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--spotifyGreen);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    opacity: 0.8;
  }