#header {
    color: white;
    background-color: var(--headerColour);
    display: flex;
    justify-content: center;  /* Centers text horizontally */
    align-items: center;      /* Centers text vertically */
    padding: 30px 0;
    min-height: 10vh;       

}

#header h1 {
    cursor: pointer;
}

#header span {
    color: var(--spotifyGreen);
}